@let vm = status();
@switch (vm.status) {
    @case ('idle') {
        <input type="file" hidden #filesControl
            [accept]="accept()"
            (change)="onSelect()" />
            
        <div class="drop" (click)="filesControl.click()" 
            [class.can-drop]="canDrop()"
            (dragover)="onDragOver($event)" 
            (dragleave)="canDrop.set(false)"
            (drop)="onDrop($event)">
            Drop files here or click to upload
        </div>
    }
    @case ('in-progress') {
        <div class="file-upload-progress">
            <span>In Progress</span>
            <span>{{vm.progress}}</span>
        </div>
    }
    @case ('success') {
        <div class="file-upload-success">
            <span>File uploaded successfully!</span>
            <span>URL: {{vm.fileUrl}}</span>
        </div>
    }
    @case ('error') {
        <div class="file-upload-error">
            <span>Error uploading file. Please try again.</span>
            <span>Error: {{vm.errorMessage}}</span>
        </div>
    }
}